body{
    background-color: #1d3458;
    font-family: Arial, Helvetica, sans-serif;
    color: #3a3a3a;
    margin: 0;
    text-align: center;
    font-size: x-large;
  }

.one {

       text-align: center;
       color:whitesmoke;
       padding-top: 50px;
       border-radius: 30px;
       border-color: white;
}

.pict {
  background-color: #f7f8f9;
  transition: 0.3s;
  width: 300px;
  min-height: 250px;
  box-align: center;
  margin: auto;
  padding: 32px;
  color: #f7f8f9;
  padding-bottom: 30px;
}

.pict:hover {
  background-color: #1d3458;
}

